.nav-container {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 60px);
  padding: 10px 30px;
  color: #ffff;
  backdrop-filter: blur(10px);
}
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 1rem;
}
.lang-selector {
  border: none;
  color: #ffff;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
}

.lang-selector:focus {
  background-color: rgba(0, 0, 0, 0.658);
  backdrop-filter: blur(10px);
}

.view-mode-controls-container {
  position: absolute;
  bottom: 25px;
  left: 30px;
  z-index: 999;
}

.view-mode-controls-button {
  background-color: rgba(0, 0, 0, 0.523);
  backdrop-filter: blur(30px);
  border: none;
  font-size: 0.9rem;
  color: #ffff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.view-mode-controls-button:hover {
  background-color: rgba(0, 0, 0, 0.658);
  transition: background-color 0.2s ease-in-out;
}

.btn-left {
  border-radius: 30px 0 0 30px;
}
.btn-right {
  border-radius: 0 30px 30px 0;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: rgba(48, 48, 48, 0.658) !important;
  backdrop-filter: blur(30px);
}

.popup-image {
  border-radius: 5px;
  max-width: 100%;
}

.popup-container {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.popup-button {
  padding: 5px 15px;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Modal */

.modal-p-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.modal-container {
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(48, 48, 48, 0.658);
  backdrop-filter: blur(30px);
}
.modal-image {
  max-width: 80vw;
  max-height: 50vh;
  border-radius: 8px;
}
.camera-data-info {
  color: #ffff;
  list-style: none;
}

.camera-data-container {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
.camera-data-buttons-container {
  display: flex;
  align-items: end;
  justify-content: right;
}

.camera-detail-modal-close-btn {
  padding: 5px 15px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.about-header {
  font-weight: 400;
  font-size: 4rem;
}

.about-page-container {
  margin-top: 10vh;
  color: #ffff;
  max-width: 1500px;
  padding: 1vh 5vw;
}
.about {
  display: flex;
  justify-content: center;
}
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 7vh 0;
}
.about-section h1 {
  font-weight: 300;
  font-size: 3rem;
}
.about-section p {
  font-size: 1.2rem;
  margin: 2vh 0;
}

/* skeletons */

.skel {
  animation: skel-loading 1s linear infinite alternate;
}

.skel-image {
  width: 100%;
  height: 40vh;
}

@keyframes skel-loading {
  0% {
    background-color: hsl(0, 0%, 18%);
  }
  100% {
    background-color: hsl(0, 0%, 35%);
  }
}

@media screen and (max-width: 600px) {
  .view-mode-controls-container {
    bottom: 60px;
    left: 5px;
  }
  .modal-container {
    padding: 20px 15px;
  }

  .modal-image {
    max-width: 100%;
    max-height: 65vh;
  }

  .camera-data-container {
    padding: 5px 0;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
  }
  .about-section {
    grid-template-columns: 1fr;

    grid-template-rows: 0.3fr 1fr;
  }

  .about-header {
    font-size: 3rem;
  }

  .about-section h1 {
    font-size: 2.5rem;
  }
  .about-page-container {
    padding: 1vh 5vw;
  }
}
