.view-mode-controls-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 400;
}

.view-mode-controls-button {
  background-color: rgba(0, 0, 0, 0.523);
  backdrop-filter: blur(30px);
  border: none;
  font-size: 0.9rem;
  color: #ffff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.view-mode-controls-button:hover {
  background-color: rgba(0, 0, 0, 0.658);
  transition: background-color 0.2s ease-in-out;
}

.btn-left {
  border-radius: 30px 0 0 30px;
}
.btn-right {
  border-radius: 0 30px 30px 0;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: rgba(0, 0, 0, 0.658) !important;
  backdrop-filter: blur(30px);
}

.popup-image {
  border-radius: 5px;
  max-width: 100%;
}

.popup-container {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.popup-button {
  padding: 5px 15px;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  text-transform: uppercase;
  font-size: 0.9rem;
}
